@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato&display=swap');


$dm-serif: 'DM Serif Text', serif;
$lato: 'Lato', sans-serif;

$yellow: #ffc700;
$off-white: #f4f4f3;
$dark: #242424;

$border: black 1px solid;
$side-border-yellow:  #cfa202 1px solid;
$side-border-grey: #cecece 1px solid;

$shadow:  0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;


